:host {
  padding: 1rem;
  list-style: none;
}

ul{
list-style: none;
}
 h2, h3 {
  margin: 0.5rem;
  text-align: center; 
}

.baner {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.6);
}

.year,
.country, 
.search,
.pagination {
  text-align: center; 
}


p {
  line-height: 1.5;
  margin: 0.5rem 0;
}

.pagination {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  gap: 10px;
  padding: 0.5rem;
}
