:host {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  list-style: none;
  min-height: calc(100vh - var(--navbar-height));
  ul {
    list-style: none;
  }
}

.main-content {
  flex: 1;
}
h2,
h3 {
  margin: 0.5rem;
  text-align: center;
}

.baner {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

.year,
.country,
.search,
.pagination {
  text-align: center;
}

p {
  line-height: 1.5;
  margin: 0.5rem 0;
}

.pagination {
  width: 100%;
  gap: 10px;
  padding: 0.5rem;
  z-index: 100;
}
