<h2>Koncerty</h2>
<app-search
  [placeholder]="'Szukaj koncertu...'"
  [query]="concertName()"
  (search)="searchConcert($event)"
></app-search>
@if (paginatedConcerts().length) {
  <ul>
    @for (concert of paginatedConcerts(); track concert.id) {
      <li>
        @if (concert.name) {
        }
        <h3>
        {{concert.type + ' ' + concert.name }}
        </h3>
      </li>
    }
  </ul>
  <app-pagination class="pagination"></app-pagination>
} @else {
  <p>Brak wyszukiwanego koncertu</p>
  <img class="guitarist-picture" src="assets/artist-shadow.png" alt="artist-shadow" />
}
