<h2>Koncerty</h2>
<app-search
  [placeholder]="'Szukaj koncertu...'"
  [query]="concertName()"
  (search)="searchConcert($event)"
></app-search>
@if (paginatedConcerts().length) {
  <ul>
    @for (concert of paginatedConcerts(); track concert.id) {
      <li>
        @if (concert.name) {}
        <h3>
          {{ concert.type + ' ' + concert.name }}
        </h3>
        <div class="row">
          <div class="col">
            <p>Data: {{ concert['life-span']?.begin }}</p>
          </div>
          @if (concert.relations.length > 0) {
            <ul class="col">
              @for (rel of concert.relations; track $index) {
                @if (rel.artist) {
                  <li>
                    {{ rel.artist?.name }}
                  </li>
                }
              }
            </ul>
          } @else {
            <p class="col">Brak artystów do wyświetlenia</p>
          }
        </div>
      </li>
    }
  </ul>
  <app-pagination class="pagination" [page]="page()" [pageSize]="pageSize()"></app-pagination>
} @else {
  <p>Brak wyszukiwanego koncertu</p>
  <img class="guitarist-picture" src="assets/artist-shadow.png" alt="artist-shadow" />
}
