@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/theme';

.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: $spacing-xl;
  background-color: var(--color-bg);
  color: var(--color-text);

  @include respond-to(md) {
    flex-direction: column;
    text-align: center;
  }

  // &__title {
  //   font-size: 4rem;
  //   font-family: $font-primary;
  //   @include gradient-text($color-primary, $color-accent);
  // }

  // &__subtitle {
  //   font-size: 1.5rem;
  //   margin-top: $spacing-sm;
  //   font-family: $font-secondary;
  //   color: var(--color-muted);
  // }

  // &__cta {
  //   margin-top: $spacing-xl;
  //   @include rock-shadow;
  // }

  &__image img {
    max-width: 600px;
    // align-self: center;
    justify-self: center;
    border: none;
    // margin-top: 20%;
  }
}