@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/theme';

.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: $spacing-xl;
  background-color: var(--color-bg);
  color: var(--color-text);

  @include respond-to(md) {
    flex-direction: column;
    text-align: center;
  }

  &__image img {
    max-width: 600px;
    justify-self: center;
    border: none;
  
  }
}
