@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/theme';

.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: $spacing-xl;
  background-color: var(--color-bg);
  color: var(--color-text);

  @include respond-to(md) {
    flex-direction: column;
    text-align: center;
  }

  &__image img {
    max-width: 600px;
    justify-self: center;
    border: none;
  
  }
  .side-decor {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 370px;
  height: 100%;
  opacity: 0.5;
  pointer-events: none;
  background-image: url('/assets/pattern.png');
  background-repeat: repeat-y;   
  background-size: 100%;     
  transform: scaleY(-1);
  transform: rotateX('angle');
  z-index: -5;
  }
  .left { left: 0; 
    transform: scaleY(-1);
  }
  .right { right: 0;
   }
  
  @media (max-width: 868px) {
    .side-decor { display: none; }
  }
}
