@import '../../styles/variables';
@import '../../styles/mixins';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: var(--color-bg-alpha);
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  z-index: 1000;
  font-family: $font-primary;

  @include respond-to(md) {
    height: 60px;
    padding: 0 16px;
  }

  @include respond-to(sm) {
    height: 56px;
  }
}

.logo {
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $font-primary;
  @include gradient-text(var(--color-primary), var(--color-accent));
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
  padding: 7px;
  border: 0.5px solid transparent;
}

.nav-links a.active {
  border-bottom: 2px solid var(--color-accent);
}

.nav-links a:hover {
  color: var(--color-accent);
  border: 0.5px solid #e30613;
  border-radius: 6px;
}

.theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
}

.theme-toggle img {
  width: 96px;
  height: 48px;
  object-fit: cover;
  object-position: left;
  transition: object-position 0.3s ease;

  @include respond-to(md) {
    width: 64px;
    height: 32px;
  }

  @include respond-to(sm) {
    width: 56px;
    height: 28px;
  }
}

.theme-toggle img.dark {
  object-position: right;
}
