//  Mixin: Media query
@mixin respond-to($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: $breakpoint-sm) { @content; }
  } @else if $breakpoint == md {
    @media (max-width: $breakpoint-md) { @content; }
  } @else if $breakpoint == lg {
    @media (max-width: $breakpoint-lg) { @content; }
  } @else if $breakpoint == xl {
    @media (max-width: $breakpoint-xl) { @content; }
  }
}

//  Mixin: Gradientowy tekst (metalowy efekt)
@mixin gradient-text($from, $to) {
  background: linear-gradient(to right, $from, $to);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin rock-shadow {
  box-shadow: 0 4px 12px rgba(255, 0, 0, 0.4);
}
