/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import 'mixins';
@import 'base';
@import 'theme';

.header-title {
  @include gradient-text(var(--color-primary), var(--color-accent));
  font-size: 3rem;
  font-family: $font-primary;
}
main {
  margin-top: 70px;
  padding: 20px;
}

.guitarist-picture {
  position: fixed;
  top: 0;
  left: 15%;
  z-index: -1;
  pointer-events: none;
  width: 50%;
}

.search,
.pagination {
  justify-content: center;
  text-align: center;
}

.row {
  display: flex;
  align-items: center;  
  margin: 1rem 0;
}

.col {
  flex: 1;             
  padding: 0.5rem;
  flex-direction: column;
  align-self: center;
  justify-content: center; 
}

