.band-of-the-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.5rem;

  img {
    max-width: 250px;   
    height: auto;
  }

  button {
    padding: 0.1rem 0.2rem;
    border-radius: 4px;
  }
}
