.band-of-the-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 400px;
  width: 400px;
  margin-bottom:5rem;

  img { 
    width: 100%;          
    height: 100%; 
  }

  button {
    margin: 2px;
    padding: 0.1rem 0.2rem;
    border-radius: 4px;
  }
}
