.pagination {
  bottom: 0;
  margin: 1.5rem;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-self: end;

  button {
    padding: 6px 12px;
    cursor: pointer;
  }

  span {
    font-weight: bold;
  }
}
