.pagination {
  bottom: 0;
  margin: 1.5rem;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-self: end;
  background-color: var(--color-bg);

  button {
    padding: 6px 12px;
    cursor: pointer;
  }

  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  span {
    font-weight: bold;
  }
}
