<h2>Zespoły</h2>
<app-search
  class="mb-5 search"
  [placeholder]="'Szukaj zespołu...'"
  [query]="bandName()"
  (search)="searchBand($event)"
></app-search>
@if (paginatedBands().length > 0) {
  <ul class="mt-5">
    @for (band of paginatedBands(); track band.idArtist) {
      <li>
        @if (band.strArtistBanner) {
          <img class="baner" [src]="band.strArtistBanner" alt="Artist Banner" />
        }
        <h3>
          {{ band.strArtist }}
        </h3>
        <p class="year"><strong>Rok założenia:</strong> {{ band.intFormedYear }}</p>
        <p class="country"><strong>Kraj:</strong> {{ band.strCountry }}</p>
        <p>{{ band.strBiographyPL || band.strBiographyEN }}</p>
      </li>
    }
  </ul>
  <app-pagination class="pagination"></app-pagination>
} @else {
  <p>Brak wyszukiwanego zespołu</p>
  <img class="guitarist-picture" src="assets/artist-shadow.png" alt="artist-shadow" />
}
