:host {
  padding: 1rem;
  list-style: none;
}

ul{
list-style: none;
}

h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-align: center; 

}

img {
  max-width: 100%;
  border-radius: 8px;
  margin: 1rem 0;
  box-shadow: 0 4px 10px rgba(0,0,0,0.6);
}

.year{
  text-align: center; 
}
.country{
  text-align: center; 
}

p {
  line-height: 1.5;
  margin: 0.5rem 0;
}

