@import '../../styles/variables';
@import '../../styles/mixins';

#albumsCarousel {
  max-width: 400px;
  margin: 0 auto;
  @include respond-to(md) {
    #albumsCarousel {
      max-width: 300px;
    }
  }
}

.carousel-item {
  text-align: center;
  height: 400px;
  width: 100%;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 8px;
    cursor: pointer;
  }
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 4px;

  h5,
  p {
    color: #fff;
    margin: 0;
  }
}

.carousel-indicators [data-bs-target] {
  background-color: #333;
}

.carousel-indicators .active {
  background-color: #007bff;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}
