
<h2>Albumy</h2>
<app-search 
  [placeholder]="'Szukaj albumus...'"
  [query]="albumName()"
  (search)="searchAlbums($event)"
></app-search>

@if (paginatedAlbums().length > 0) {
  <div class="side-decor left">
  </div>
  <div class="mt-5">
    <ul>
      @for (album of paginatedAlbums(); track album.idAlbum) {
        <li class="row">
          @if (album) {
            <div class="col img-col">
              <img  [src]="album.strAlbumThumb" alt="Album" />  
            </div>    
          }
          <div class="col  text-col">
            <h3>
              {{ album.strAlbum }} - {{album.strArtist}}
            </h3>
            <p>Rok wydania: {{album.intYearReleased}}</p>
            <p>Format: {{album.strReleaseFormat}}</p>
              <p>Wytwórnia: {{album.strLabel}}</p>
              <p>Gatunek: {{album.strGenre}} </p>

          </div>
        </li>
      }
    </ul>
  </div>
  @if (paginatedAlbums().length > 1) {
  <app-pagination class="pagination"></app-pagination>
  }
  <div class="side-decor right">
  </div>
} @else {
  <p>Brak wyszukiwanego albumu</p>
  <img class="guitarist-picture" src="assets/artist-shadow.png" alt="artist-shadow" />
}

