@import '../../styles/variables';
@import '../../styles/mixins';

:host {
  padding: 1rem;
}
ul {
  list-style: none;
}

h2 {
  font-size: 2rem;
  margin: 0.5rem;
  text-align: center;
}

h3 {
  text-align: left;
}

.search,
.pagination {
  text-align: center;
}

p {
  line-height: 1.5;
  margin: 0.5rem 0;
}

.row {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.col {
  flex: 1;
  padding: 0.5rem;
}

.img-col img {
  width: 100%;
  max-width: 450px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

.text-col {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}
.side-decor {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 370px;
  height: 100%;
  opacity: 0.5;
  pointer-events: none;
  background-image: url('/assets/pattern.png');
  background-repeat: repeat-y;
  background-size: 100%;
  transform: scaleY(-1);
  z-index: -5;
}
.left {
  left: 0;
  transform: scaleY(-1);
}
.right {
  right: 0;
}

@include respond-to(lg) {
  .side-decor {
    display: none;
  }
}
.pagination {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  gap: 10px;
  padding: 0.5rem;
}
